In [11]:
import numpy as np
import pandas as pd

In [12]:
a = [2, 4, 6, 8, 9, 11, 14, 56]

In [14]:
b = np.arange(1, 10)

In [16]:
df = pd.DataFrame(a)

In [17]:
df

    0
0   2
1   4
2   6
3   8
4   9
5  11
6  14
7  56

In [18]:
type(df)

pandas.core.frame.DataFrame

In [20]:
b < 4

array([ True,  True,  True, False, False, False, False, False, False])

In [22]:
filter = df < 4

In [23]:
type(filter)

pandas.core.frame.DataFrame

In [25]:
filter2 = b < 4

In [26]:
filter2

array([ True,  True,  True, False, False, False, False, False, False])

In [27]:
type(filter2)

numpy.ndarray

In [30]:
r = np.random.randint(20, 100, 30)

In [31]:
r

array([97, 82, 95, 91, 99, 92, 48, 30, 54, 82, 70, 65, 29, 29, 47, 81, 71,
       77, 26, 93, 23, 61, 59, 69, 21, 30, 90, 71, 95, 75])

In [32]:
filter_even = r % 2 == 0

In [33]:
r[filter_even]

array([82, 92, 48, 30, 54, 82, 70, 26, 30, 90])

In [35]:
filter_odd = r % 2 == 1

In [36]:
r[filter_odd]

array([97, 95, 91, 99, 65, 29, 29, 47, 81, 71, 77, 93, 23, 61, 59, 69, 21,
       71, 95, 75])