In [1]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()

In [19]:
#eskik degerlerin kontrolu cok cok onemli bir konu

In [2]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
#oncelikle hic eksik veri var mi diye bakiyorum
df.isnull().values.any()

True

In [7]:
#hangi degiskende kacar tane eksik veri olduguna bakmak ici
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [15]:
#eksik veriler yerine sorun olmamasi icin sifirlarla doldurabilirim bu bir secenek
df["orbital_period"].fillna(0, inplace = True)

In [11]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [12]:
#sifir yerine mean degerini de kullanabilirdim, ama eksik veri cok hassas bir konudur

In [16]:
df["mass"].fillna(df.mass.mean(), inplace = True)

In [17]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [18]:
#eger veri setindeki tum nan elemanlari mean ile doldurmak istersem
df.fillna(df.mean(), inplace = True)

C:\Users\iecet\AppData\Local\Temp\ipykernel_5664\1959009670.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace = True)